
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section page-banner-aboutus">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-banner-content">
                    <h1>ABOUT Us</h1>
                    <ul class="breadcrumb">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="active">about page</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BANNER SECTION -->
<!-- PAGE ABOUT SECTION -->
<div class="page-about-section section pt-120 pb-120">
    <div class="container">
        <div class="about-online-gallery">
            <div class="row pb-60">
                <div class="col-12">
                    <div class="title-eltdf ">
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                            About our house

                        </p>
                        <div class="eltdf-st-title">
                            <span class="eltdf-st-title-inner">
                                <span class="eltdf-st-side-line-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.5s"></span>
                                <h1 class="wow fadeInUp " data-wow-duration="1s" data-wow-delay="1s">
                                    ONLINE ART GALLERY
                                </h1>
                                <span class="eltdf-st-side-line-right wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.5s"></span>
                            </span>
                        </div>
                        <p class="eltdf-st-text wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            <br> incididunt labore et dolore magna aliqua
                        </p>

                    </div>
                </div>
            </div>
            <div class="row pb-60">
                <div class="col-lg-6 col-12">
                    <div class="about-content-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do se eiusmod temps esmu incididun in ut labs en ore et sa dolore si magna aliqua. Ut enim ad minima veniam, inant quis nostrud e exerci de tation ullam co laboris
                            nisi ut sen aliquip ex ea commodo insade consequat. Duis aute irure do se dolor in reprehenderit inest
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="about-content-item">
                                <p class="iwt-title">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> OPENING HOURS
                                </p>
                                <p class="iwt-text">
                                    Tue ‒ Thu: 09am ‒ 07pm <br> Fri ‒ Mon: 09am ‒ 05pm
                                </p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="about-content-item">
                                <div class="about-content-item">
                                    <p class="iwt-title">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> ADMISSIONS
                                    </p>
                                    <p class="iwt-text">
                                        Adults: $25 <br> Children & Students: Free
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="about-content-img ">
                    <div class="about-content-img-left">
                        <img src="~/Layout/Art Gallery/img/about-us/p1-img-1-650x650.jpg" alt="">
                    </div>
                    <div class="about-content-img-right">
                        <div class="iwt-img-left">
                            <img class="iwt-img-1" src="~/Layout/Art Gallery/img/about-us/p1-img-2-300x300.jpg" alt="">
                            <img class="iwt-img-2" src="~/Layout/Art Gallery/img/about-us/p1-img-3-300x300.jpg" alt="">
                        </div>
                        <div class="iwt-img-right">
                            <img src="~/Layout/Art Gallery/img/about-us/p1-img-4.jpg" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="art-gallery-team  pt-120">
            <div class="row">
                <div class="col-12">
                    <div class="title-eltdf pb-60">
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                            Our Members
                        </p>
                        <div class="eltdf-st-title">
                            <span class="eltdf-st-title-inner">
                                <span class="eltdf-st-side-line-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.5s"></span>
                                <h1 class="wow fadeInUp " data-wow-duration="1s" data-wow-delay="1s">
                                    Art Gallery Team
                                </h1>
                                <span class="eltdf-st-side-line-right wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.5s"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                    <div class="our-members-item page-action-item">
                        <div class="members-item page-action-img">
                            <img src="~/Layout/Art Gallery/img/members/h3-team-img-1.jpg" alt="">
                            <div class="page-action-btn">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter "></i></a>
                            </div>
                        </div>

                        <div class="members-info">
                            <h5>ANGEL NELSON</h5>
                            <div>Editor</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                    <div class="our-members-item page-action-item">
                        <div class="members-item page-action-img">
                            <img src="~/Layout/Art Gallery/img/members/h3-team-img-2.jpg" alt="">
                            <div class="page-action-btn">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter "></i></a>
                            </div>
                        </div>
                        <div class="members-info">
                            <h5>ALLAN CAMPBELL</h5>
                            <div>Curator</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                    <div class="our-members-item page-action-item">
                        <div class="members-item page-action-img">
                            <img src="~/Layout/Art Gallery/img/members/h3-team-img-3.jpg" alt="">
                            <div class="page-action-btn">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter "></i></a>
                            </div>
                        </div>
                        <div class="members-info">
                            <h5>DIANA LEACH</h5>
                            <div>Curator</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                    <div class="our-members-item page-action-item">
                        <div class="members-item page-action-img">
                            <img src="~/Layout/Art Gallery/img/members/p9-img-3.jpg" alt="">
                            <div class="page-action-btn">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter "></i></a>
                            </div>
                        </div>
                        <div class="members-info">
                            <h5>WILLIAM WHITE </h5>
                            <div>Professional associate</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE ABOUT SECTION -->
