
@{
    ViewBag.Title = "ForgotPasswordCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- START PAGE BANNER SECTION -->
<div class="page-banner-section section page-banner-aboutus">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-banner-content">
                    <h1>ForgotPassword</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">ForgotPassword page</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BANNER SECTION -->
<!-- PAGE SECTION START -->
<div class="page-section section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 col-12 mx-auto">
                <div class="login-reg-form">
                    <form action="@Url.Action("ForgotPasswordCode","Home")" method="post">
                        <div class="row">
                            <div class="col-12 mb-20">
                                <label for="username">Code <span class="required">*</span></label>
                                <input name="code" id="username" type="text">
                                @if (TempData["CodeNull"] != null)
                                {
                                    <span class="required">@TempData["CodeNull"]</span>
                                }
                            </div>
                            <div class="col-12 mb-20">
                                <input type="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE SECTION END -->
